
{% extends 'adminindex.html ' %}
{% block body %}

{% comment %} <body>
<form id="form1" name="form1" method="post" action="">
  <table width="276" border="1">
    
    <tr>
      <td><div align="center"><a href="admin_view_registerd_user">VIEW REGISTERD USER</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="view_feedback">VIEW FEEDBACK</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="admin_manage_complaint">VIEW COMPLAINT AND  REPLY</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="manage_dataset">ADD AND MANAGE DATASET</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="admin_manage_psychiatrist">ADD AND MANAGE PSYCHIATRIST</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/">LOGOUT</a></div></td>
    </tr>
  </table>
</form>
</body> {% endcomment %}
{% endblock %}
{% comment %} </html> {% endcomment %}
