{% extends 'adminindex.html ' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="">
  <table class="table table-striped">
    <tr>
      <th>COMPLAINT</th>
      <th>USER NAME </th>
      <th>DATE</th>
      <td>&nbsp;</td>
    </tr>
    {% for i in val  %}
    <tr>
      <td>{{i.complaint}}</td>
      <td>{{i.uid.firstname}} {{i.uid.lastname}}</td>
      <td>{{i.date}}</td>
      <td><a href="{% url 'admin_send_reply' id=i.id %}#about" class="btn btn-primary">REPLY</a></td>
    </tr>
    {% endfor %}
  </table>
</form>
</body>
{% endblock %}
