{% extends 'adminindex.html ' %}
{% block body %}
<body>
<form action="psychiatrist1" method="post" enctype="multipart/form-data" name="form1" id="form1">
  <table width="200" border="1">
    <tr>
      <td>FIRST NAME </td>
      <td><input type="text" name="textfield" Required pattern="[A-Z a-z.]{3,25}" /></td>
    </tr>
    <tr>
      <td>LAST NAME </td>
      <td><input type="text" name="textfield2" Required pattern="[A-Z a-z.]{3,25}" /></td>
    </tr>

    <tr>
      <td>IMAGE</td>
      <td><input type="file" name="file"></td>
    </tr>

   <tr>
      <td>EXPERIENCE</td>
      <td><input type="text" name="textfield10"></td>
   </tr>
    <tr>
      <td>GENDER</td>
      <td><input name="radiobutton" type="radio" value="male" checked/>
      male
        <input name="radiobutton" type="radio" value="female"  />
      female
      <input name="radiobutton" type="radio" value="others"  />
      others</td>
    </tr>
    <tr>
      <td>EMAIL</td>
      <td><input type="text" name="textfield3" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}"/></td>
    </tr>
    <tr>
      <td>PHONE</td>
      <td><input type="text" name="textfield4" required ></td>
    </tr>
    <tr>
      <td>PLACE</td>
      <td><input type="text" name="textfield5" pattern="[A-Z a-z.]{3,25}" /></td>
    </tr>
    <tr>
      <td>POST</td>
      <td><input type="text" name="textfield8" pattern="[A-Z a-z.]{3,25}" /></td>
    </tr>
    {% comment %} <tr>
      <td>PIN</td>
      <td><input type="text" name="textfield9" /></td>
    </tr> {% endcomment %}
    <tr>
      <td>USER NAME </td>
      <td><input type="text" name="textfield6" required /></td>
    </tr>
    <tr>
      <td>PASSWORD</td>
      <td><input type="text" name="textfield7"   /></td>
    </tr>
    
    <tr>
      <td colspan="2"><div align="center">
        <input type="submit" name="Submit" value="ADD"  />
      </div></td>
    </tr>
  </table>
</form>
</body>
{%endblock%}
