<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="276" border="1">
    
    <tr>
      <td><div align="center"><a href="admin_view_registerd_user">VIEW REGISTERD USER</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="view_feedback">VIEW FEEDBACK</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="admin_manage_complaint">VIEW COMPLAINT AND  REPLY</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="manage_dataset">ADD AND MANAGE DATASET</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="admin_manage_psychiatrist">ADD AND MANAGE PSYCHIATRIST</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="#">LOGOUT</a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
