{% extends 'adminindex.html ' %}
{% block body %}


<body>
<form id="form1" name="form1" method="post" action="admin_add_psychiatrist#about">
  <table class="table table-striped">
    <tr>
      <th>NAME</th>
      <th>ADDRESS</th>
      <th>EMAIL</th>
      <th>PHONE</th>
      <td>&nbsp;</td>
    </tr>
    {% for i in val  %}
    <tr>
      <td>{{i.firstname}} {{i.lastname}}</td>
      <td>{{i.place}} {{i.post}}</td>
      <td>{{i.email}};</td>
      <td>{{i.phone}}</td>
      <td><p><a href="{% url 'editpsychiatrist' id=i.id %}#about" class="btn btn-primary">EDIT </a></p>
      <p><a href="{% url 'deletepsychiatrist' id=i.lid.id %}"class="btn btn-danger">DELETE </a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="5"><div align="center">
        <input type="submit" name="Submit" value="ADD" class="btn btn-dark" />
      </div></td>
    </tr>
  </table>
</form>
</body>
{% endblock%}
