<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="admin_add_psychiatrist">
  <table width="200" border="1">
    <tr>
      <td>NAME</td>
      <td>ADDRESS</td>
      <td>EMAIL</td>
      <td>PHONE</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val  %}
    <tr>
      <td>{{i.firstname}} {{i.lastname}}</td>
      <td>{{i.place}} {{i.post}}</td>
      <td>{{i.email}};</td>
      <td>{{i.phone}}</td>
      <td><p><a href="{% url 'editpsychiatrist' id=i.id %}">
        EDIT
        
        </a></p>
      <p><a href="{% url 'deletepsychiatrist' id=i.lid.id %}">DELETE </a></p></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="5"><div align="center">
        <input type="submit" name="Submit" value="ADD" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
