{% extends 'adminindex.html ' %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="{% url 'editpsychiatrist1' %}" enctype="multipart/form-data" >
  <div align="center">
    <table width="200" border="1">
      <tr>
        <td>FIRST NAME </td>
        <td><label>
          <input type="text" name="textfield"  Required pattern="[A-Z a-z.]{3,25}" value="{{val.firstname}}"/>
        </label></td>
      </tr>
      <tr>
        <td>LAST NAME </td>
        <td><label>
          <input type="text" name="textfield2"  Required pattern="[A-Z a-z.]{3,25}" value="{{val.lastname}}" />
        </label></td>
      </tr>
      <tr>
        <td>IMAGE</td>
        <td><label>
          <input type="file" name="file" />
          <img src="{{val.image.url}}" width="100" height="100" >
        </label></td>
      </tr>
      <tr>
        <td>EXPERIENCE</td>
        <td><input type="text" name="textfield8" value="{{val.expireance}}"></td>
     </tr>
      <tr>
        <td>PLACE</td>
        <td><label>
          <input type="text" name="textfield3"  pattern="[A-Z a-z.]{3,25}" value="{{val.place}}" />
        </label></td>
      </tr>
      <tr>
        <td>POST</td>
        <td><label>
          <input type="text" name="textfield4" pattern="[A-Z a-z.]{3,25}" value="{{val.post}}" />
        </label></td>
      </tr>
      <tr>
        <td>EMAIL</td>
        <td><label>
          <input type="text" name="textfield5" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}" value="{{val.email}}" />
        </label></td>
      </tr>
      <tr>
        <td>GENDER</td>
        <td><label>
          <input name="radiobutton" type="radio" checked  value="male" {% if val.gender == 'male' %}checked {% endif %} />
        male
        <input name="radiobutton" type="radio"  value="female" {% if val.gender == 'female' %}checked {% endif %}/>
        female
        <input name="radiobutton" type="radio"  value="others" {% if val.gender == 'others' %}checked {% endif %} />
        others</label></td>
      </tr>
      <tr>
        <td>PhONE NO </td>
        <td><label>
          <input type="text" name="textfield7" required  value="{{val.phone}}" />
        </label></td>
      </tr>
      
      <tr>
        <td colspan="2"><label>
          <div align="center">
            <input type="submit" name="Submit" value="UPDATE" />
          </div>
        </label></td>
      </tr>
      </table>
  </div>
  <div align="center"></div>
</form>
</body>
{%endblock%}
