{% extends 'psy_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="add_tips#about">
  <table width="200" border="1">
    <tr>
      <td>TIPS</td>
      <td>DATE</td>
      <td>&nbsp;</td>
    </tr>
    {% for i in val  %}
    <tr>
      <td>{{i.tips}}</td>
      <td>{{i.date}}</td>
      <td><label><a href="{% url 'deletetips' id=i.id %}">DELETE</a></label></td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3"><label>
        <div align="center">
          <input type="submit" name="Submit2" value="ADD" />
          </div>
      </label></td>
    </tr>
  </table>
</form>
</body>
</html>
{% endblock %}
