
{% extends 'psy_index.html ' %}
{% block body %}

{% comment %} <body>
<form id="form1" name="form1" method="post" action="">
  <table width="218" border="1">
    
    <tr>
      <td><div align="center"><a href="psy_manage_suggestions">ADD SUGGESTION</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="manage_tips">ADD TIPS</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="psy_chat">CHAT</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="psy_view_registerd_user">VIEW USER</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="#">LOGOUT</a></div></td>
    </tr>
  </table>
</form>
</body>
</html> {% endcomment %}

{% endblock %}