{% extends 'user_index.html' %}
{% block body %}

<body>
<form id="form1" name="form1" method="post" action="user_send_complaint#about">
  <table width="200" border="1">
    <tr>
      <td>COMPLAINT</td>
      <td>DATE</td>
      <td>REPLY</td>
    </tr>
    {% for i in val  %}
    <tr>
      <td>{{i.complaint}}</td>
      <td>{{i.date}}</td>
      <td>{{i.reply}}</td>
    </tr>
    {% endfor %}
    <tr>
      <td colspan="3"><div align="center">
        <input name="Submit" type="submit" value="ADD" />
      </div></td>
    </tr>
  </table>
</form>
</body>
</html>
{%endblock%}
